/.gitignore     export-ignore
/.gitattributes export-ignore

# Files & folders that should not be included in production.
/docs/            export-ignore
/scripts/         export-ignore
/tests/           export-ignore
/.editorconfig    export-ignore
/.github/         export-ignore
/.flake8          export-ignore
/requirements.txt export-ignore
